.svn*
*.max
*.psd
*.bak
*.sdf
*.suo
*.csproj.user
*.zip
*.dll
obj/*
!redist/
redist/*
!redist/ParaCraft.exe
!redist/config.txt
published/
ParaCraft/
_*
!_apps/
_apps/*
!_apps/Paracraft/
!_apps/Taurus/
!_mod/
_mod/*
!_mod/Test/
!_mod/MCImporterGenerator/
!_mod/STLExporter/
src/sync_src.bat
src/sdkpath.txt
Debug/
Release/
build/ParacraftBuild/
*.opensdf
*.user
CMakeFiles/
ZERO_CHECK.*
ALL_BUILD.*
cmake_install.cmake
Win32/
CMakeCache.txt
tools/ThirdParty/TemplateCreator/
