.svn*
*.max
*.psd
*.bak
*.sdf
*.suo
*.csproj.user
*.zip
*.dll
obj/*
redist/
src/config/Aries/creator/bom
published/
ParaCraft/
_*
!_apps/
_apps/*
!_apps/Paracraft/
!_apps/Taurus/
!_mod/
_mod/*
!_mod/Test/
src/sync_src.bat
src/sdkpath.txt
src/script/
Debug/
Release/
*.opensdf
*.user
CMakeFiles/
ZERO_CHECK.*
ALL_BUILD.*
cmake_install.cmake
Win32/
CMakeCache.txt
